<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	 <session-config>
	   <session-timeout>30</session-timeout>
	 </session-config>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:config/spring/**/*.xml,
			classpath*:context/spring/**/*.xml,
			classpath*:context/dubbo/**/*.xml,			
			classpath*:context/*.xml
			classpath*:servlet/*.xml
		</param-value>
	</context-param>
	
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>webapp.open</param-value>
	</context-param>
	
	<!-- 统一日志文件 -->
	<context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>file:/opt/config/open/open-log4j.xml</param-value>
    </context-param>
    
	<context-param>
	    <param-name>jmesaPreferencesLocation</param-name>
	    <param-value>WEB-INF/jmesa.properties</param-value>
	</context-param>
	<!-- 统一的启动初始类，用于加载基本配置和数据 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<!-- 安全session监听器 -->
    <listener>
        <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
    </listener>

	<!-- 编码过滤器UTF-8编码 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
	  <filter-name>springSecurityFilterChain</filter-name>
	  <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	<filter-mapping>
	  <filter-name>springSecurityFilterChain</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
 	<!-- sitemesh -->
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- ACTION响应servlet -->
	<servlet>
		<servlet-name>SpringDispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:context/servlet/**/*.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>SpringDispatcherServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<servlet>  
	    <description>This is the description of my J2EE component</description>  
	    <display-name>合作伙伴APP客户端对外接口</display-name>  
	    <servlet-name>AppMessageReceiveServlet</servlet-name>  
	    <servlet-class>com.xcm.open.web.servlet.AppMessageReceiveServlet</servlet-class>  
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>  
	    <servlet-name>AppMessageReceiveServlet</servlet-name>  
	    <url-pattern>/appMessageReceiveServlet</url-pattern>  
	</servlet-mapping>
	
	<!-- 全局参数加载 -->
	<servlet>
		<servlet-name>global</servlet-name>
		<servlet-class>com.xcm.open.web.common.GlobalInitParam</servlet-class>
		<init-param>
			<param-name>filePath</param-name>
			<param-value>/opt/config/open/open-config.properties</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<error-page>
		<error-code>500</error-code>
		<location>/common/500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/common/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/common/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/common/403.jsp</location>
	</error-page>

	 <welcome-file-list> 
	   <welcome-file>/login.jsp</welcome-file> 
	   <welcome-file>/index.jsp</welcome-file> 
	 </welcome-file-list> 

	<jsp-config>
		<taglib>
			<taglib-uri>poss</taglib-uri>
			<taglib-location>/WEB-INF/tld/poss.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/xdevelop.net/taglibs/page</taglib-uri>
			<taglib-location>/WEB-INF/tld/page.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>
