*target*
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
.classpath
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.validation.prefs
.settings/.jsdtscope
.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.springBeans
trade-basis/.settings/org.eclipse.core.resources.prefs
trade-basis/.settings/org.eclipse.jdt.core.prefs
trade-basis/.settings/org.eclipse.m2e.core.prefs
trade-basis/.settings/org.eclipse.wst.common.component
trade-basis/.settings/org.eclipse.wst.common.project.facet.core.xml
trade-basis/.settings/org.eclipse.wst.validation.prefs
trade-basis/project
trade-basis/classpath

trade-common/.settings/org.eclipse.core.resources.prefs
trade-common/.settings/org.eclipse.jdt.core.prefs
trade-common/.settings/org.eclipse.m2e.core.prefs
trade-common/.settings/org.eclipse.wst.common.component
trade-common/.settings/org.eclipse.wst.common.project.facet.core.xml
trade-common/.settings/org.eclipse.wst.validation.prefs
trade-common/project
trade-common/classpath

trade-service/.settings/org.eclipse.core.resources.prefs
trade-service/.settings/org.eclipse.jdt.core.prefs
trade-service/.settings/org.eclipse.m2e.core.prefs
trade-service/.settings/org.eclipse.wst.common.component
trade-service/.settings/org.eclipse.wst.common.project.facet.core.xml
trade-service/.settings/org.eclipse.wst.validation.prefs
trade-service/project
trade-service/classpath

trade-war/.settings/org.eclipse.core.resources.prefs
trade-war/.settings/org.eclipse.jdt.core.prefs
trade-war/.settings/org.eclipse.m2e.core.prefs
trade-war/.settings/org.eclipse.wst.common.component
trade-war/.settings/org.eclipse.wst.common.project.facet.core.xml
trade-war/.settings/org.eclipse.wst.validation.prefs
trade-war/.settings/.jsdtscope
trade-war/.settings/org.eclipse.wst.jsdt.ui.superType.container
trade-war/.settings/org.eclipse.wst.jsdt.ui.superType.name
trade-war/project
trade-war/classpath

trade-web/.settings/org.eclipse.core.resources.prefs
trade-web/.settings/org.eclipse.jdt.core.prefs
trade-web/.settings/org.eclipse.m2e.core.prefs
trade-web/.settings/org.eclipse.wst.common.component
trade-web/.settings/org.eclipse.wst.common.project.facet.core.xml
trade-web/.settings/org.eclipse.wst.validation.prefs
trade-web/project
trade-web/classpath
*.iml